@mixin button-style {
  color: white;
  background: $primary-color;
  border: none;
  border-radius: 100px;
  cursor: pointer;
  outline: none;

  &:hover {
    background: darken($primary-color, 30%);
    transition: 0.3s ease-in-out;
  }
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
