@import "../../styles/mixin";
@import "../../styles/color";

.loading {
  @include flex-center;
  flex-direction: column;

  font-size: 40px;
  color: $primary-color;
  min-height: 500px;

  &.loading--small {
    font-size: 30px;

    .loading__text {
      display: none;
    }
  }
}
